<nav class="navbar navbar-toggleable-md navbar-dark bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="http://tylerstephensweb.com">Tyler Stephens Web</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class:'nav-link'  %>
        </li>
        <li class="nav-item">
          <%= link_to 'Your Projects', projects_path, class:'nav-link'  %>
        </li>
      </ul>
    </div>
  </div>
</nav>